*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    width:1140px ;
    margin: 0 auto;
}
.promo{
    min-height: 800px;
    background: url(../img/background1.jpg) center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.promo-logo__img{
    display:block;
    margin: 0 auto;
}
.promo-logo__text{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
}
.promo-header1{
    text-transform: uppercase;
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #f9bf3b;
    margin-top: 50px;
}
#change{
    margin-top: 30px;
}
.promo-header2{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 21px;
}

.promo-text{
    padding:0 13px;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 35px;
}
.promo-text span {
    font-weight: bold;
    color: #f9bf3b;
}
.promo-btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 3px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 5px;
    cursor:pointer;

    text-transform: uppercase;
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-size: 17px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.promo-btn:hover{
    background-image: linear-gradient(to bottom, #2798b9, #3ab6da);
}
.promo-btn:focus{
    border:rgba(255, 255, 255, 0.678) solid 3px;
    border-radius:5px;
}
.promo-info__text{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.promo-info__img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}
.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding:75px 0 75px 0;
}
.waiting-header{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}
.waiting-divider{
    display:block;
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 30px;
}
.waiting-subheader{
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}
.waiting-wrapper{
    display:flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting-wrapper__item{
    width: 339px;
    text-align: center;
}
.waiting-wrapper__img{
    width: 100%;
}
.waiting-wrapper__descr{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.optimization{
    min-height: 550px;
    padding: 90px 0 90px 0;
}
.optimization-header{
    margin-left: 391px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #299cbd;
}
.optimization-text{
    margin-top: 25px;
    margin-left: 391px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}
.optimization_text span{
    font-weight: bold;
}
.optimization-img{
    position: absolute;
    top: -42px;
    left: -240px;
    z-index: -1;
}
.results{
    min-height: 447px;
    background: url(../img/background4.jpg) center center/cover no-repeat;
    padding:75px 0 80px 0;
}
.results-header{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}
.results-divider{
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 45px;
}
.results-wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.results-wrapper__item{
    width: 204px;
}
.results-wrapper__aggregate{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    margin: 0 auto;
}
.results-wrapper__img{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.results-wrapper__text{
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}
.bonuses{
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 70px 0;
}
.bonuses-gift{
    display:block;
    margin: 0 auto;
}
.bonuses-header{
    margin-top: 42px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}
.bonuses-button{
    display:block;
    margin: 0 auto;
    margin-top: 52px; 
    width: 313px;
    height: 72px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    
    font-size: 19px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.bonuses-button:hover{
    background-image: linear-gradient(to bottom, #2798b9, #3ab6da);
}
.bonuses-button:focus{
    border:rgba(24, 21, 21, 0.76) solid 3px;
    border-radius:5px;
}
.webinar{
    min-height: 515px;
    padding: 82px 0 64px 0;
}
.webinar-computer{
    display: block;
    margin: 0 auto;
}
.webinar-header1{
    text-transform: uppercase; 
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    margin-top: 50px;
}
.webinar-header2{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
    margin-top: 45px;
}
.webinar-header3{
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 35px;
}
.footer{
    height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 68px 0;
}
.footer-info{
    
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}
.footer-info__telephone{
    font-size:14px;
    margin-top: 10px;
}
@media screen and (max-width:1200px){
    .container{
        width: 900px;
    }
    .promo-header1{
        line-height: 1;
        font-size: 34px;
        margin-top: 40px;
    } 
    .promo-header2 {
        font-size: 70px;
    }
    #change{
        margin-top: 25px;
    }
    .promo-text{
        font-size: 20px;
    }
    .waiting{
        min-height: 575px;
        padding: 75px 0 75px 0;
    }
    .waiting-header{
        line-height: 1;
    }
    .waiting-wrapper__item{
        width: 275px;
    }
    .waiting-wrapper__descr{
        font-size: 14px;
    }
    .optimization{
        padding: 85px 0 90px 0;
    }
    .optimization-header{
        line-height: 1;
    }
    .optimization-text{
        font-size: 15px;
    }
    .optimization-img{
        top: 3px;
    }
    .results{
        padding: 75px 0 75px 0;
    }
    .results-header {
        line-height: 1;
    }
    .results-divider{
        margin-top: 40px;
    }
    .results-wrapper__item{
        width: 175px;
    }
    .bonuses{
        min-height: 600px;
    }
    .bonuses-header {
        line-height: 1;
        font-size: 22px;
        margin-top: 50px;
    }
    .webinar-header1{
        line-height: 1;

    }
    .webinar-header2{
        line-height: 1;
        margin-top: 35px;
    }
    .webinar-header3{
        line-height: 1;
        margin-top: 30px;
    }
}
@media screen and (max-width: 991px){
    .container{
        width: 700px;
    }
    .promo{
        min-height: 780px;
    }
    .promo-header1{
        line-height: 1;
        font-size: 28px;
        margin-top: 35px;
    } 
    .promo-header2 {
        font-size: 65px;
    }
    #change{
        margin-top: 25px;
    }
    .promo-text{
        font-size: 18px;
    }
    .promo-btn{
        width: 300px;
        height: 70px;
    }
    .waiting{
        min-height: 550px;
        padding: 75px 0 75px 0;
    }
    .waiting-header{
        line-height: 1;
        font-size: 28px;
    }
    .waiting-subheader{
        font-size: 22px;
    }
    .waiting-wrapper__item{
        width: 215px;
    }
    .waiting-wrapper__descr{
        font-size: 14px;
    }
    .optimization{
        padding: 75px 0 75px 0;
    }
    .optimization-header{
        line-height: 1;
        font-size: 23px;
        margin-left: 374px;
    }
    .optimization-text{
        font-size: 15px;
        margin-left: 374px;
    }
    .optimization-img{
        top: 30px;
        width: 820px;
    }
    .results{
        padding: 75px 0 75px 0;
    }
    .results-header {
        line-height: 1;
        font-size: 26px;
    }
    .results-divider{
        margin-top: 40px;
    }
    .results-wrapper__item{
        width: 175px;
    }
    .results-wrapper__aggregate{
        width: 100px;
        height: 100px;
    }
    .bonuses{
        min-height: 580px;
        padding: 80px 0 70px 0;
    }
    .bonuses-header {
        line-height: 1;
        font-size: 22px;
        margin-top: 50px;
    }
    .webinar-header1{
        line-height: 1;
        font-size: 29px;
    }
    .webinar-header2{
        line-height: 1;
        font-size: 33px;
        margin-top: 30px;
    }
    .webinar-header3{
        line-height: 1;
        margin-top: 25px;
    }
    .footer{
        padding: 60px 0 60px 0;
    }
}
@media screen and ( max-width:767px){
    .container{
        width: 515px;
    }
    .promo{
        min-height: 780px;
    }
    .promo-header1{
        line-height: 1;
        font-size: 27px;
        margin-top: 35px;
    } 
    .promo-header2 {
        font-size: 57px;
    }
    #change{
        margin-top: 25px;
    }
    .promo-text{
        font-size: 16px;
    }
    .promo-btn{
        width: 300px;
        height: 70px;
        margin: 65px auto;
    }
    .promo-info__text {
        font-size: 14px;
    }
    .promo-info__img{
        margin-top: 18px;
        width: 26px;
    }
    .waiting{
        min-height: 525px;
        padding: 75px 0 75px 0;
    }
    .waiting-header{
        line-height: 1;
        font-size: 23px;
    }
    .waiting-subheader{
        font-size: 18px;
        margin-top: 25px;
    }
    .waiting-wrapper__item{
        width: 155px;
    }
    .waiting-wrapper__descr{
        font-size: 13px;
    }
    .optimization{
        padding: 70px 0 70px 0;
    }
    .optimization-header{
        line-height: 1;
        font-size: 20px;
        margin-left: 275px;
        text-align: center;
    }
    .optimization-text{
        font-size: 14px;
        margin-left: 275px;
    }
    .optimization-img{
        top: 75px;
        width: 820px;
    }
    .results{
        min-height: 405px;
        padding: 75px 0 75px 0;
    }
    .results-header {
        line-height: 1;
        font-size: 22px;
    }
    .results-divider{
        margin-top: 35px;
    }
    .results-wrapper__item{
        width: 175px;
    }
    .results-wrapper__aggregate{
        width: 85px;
        height: 85px;
    }
    .results-wrapper__text{
        font-size: 13px;
        margin-top: 20px;
    }
    .bonuses{
        min-height: 530px;
        padding: 80px 0 70px 0;
    }
    .bonuses-header {
        line-height: 1;
        font-size: 18px;
        margin-top: 40px;
    }
    .bonuses-button{
        margin-top: 50px;
        width: 285px;
        height: 70px;
        font-size: 17px;
    }
    .webinar{
        min-height: 490px;
    }
    .webinar-computer{
        width: 300px;
    }
    .webinar-header1{
        line-height: 1;
        font-size: 26px;
        margin-top: 45px;
    }
    .webinar-header2{
        line-height: 1;
        font-size: 29px;
        margin-top: 25px;
    }
    .webinar-header3{
        line-height: 1;
        margin-top: 25px;
        font-size: 19px;
    }
    .footer{
        padding: 60px 0 60px 0;
    }
}
@media screen and ( max-width:575px ){
    .container{
        width: 295px;
    }
    .promo{
        min-height: 710px;
    }
    .promo-header1{
        line-height: 1;
        font-size: 21px;
        margin-top: 30px;
    } 
    .promo-header2 {
        font-size: 33px;
    }
    #change{
        margin-top: 25px;
    }
    .promo-text{
        font-size: 13px;
        margin-top: 30px;
    }
    .promo-btn{
        width: 220px;
        height: 60px;
        margin: 50px auto;
        font-size: 13px;
    }
    .promo-info__text {
        font-size: 13px;
    }
    .promo-info__img{
        margin-top: 17px;
        width: 23px;
    }
    .waiting{
        min-height: 500px;
        padding: 70px 0 55px 0;
    }
    .waiting-header{
        line-height: 1;
        font-size: 21px;
    }
    .waiting-divider{
        width: 195px;
        margin-top: 25px;
    }
    .waiting-subheader{
        font-size: 16px;
        margin-top: 25px;
    }
    .waiting-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .waiting-wrapper__item{
        width: 165px;
        margin-bottom: 25px;
    }
    .waiting-wrapper__descr{
        font-size: 13px;
        margin-top: 21px;
    }
    .optimization{
        padding: 70px 0 70px 0;
    }
    .optimization-header{
        line-height: 1;
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
    }
    .optimization-text{
        font-size: 13px;
        margin-left: 150px;
    }
    .optimization-img{
        left: -185px;
        top: 200px;
        width: 525px;
    }
    .results{
        min-height: 405px;
        padding: 75px 0 40px 0;
    }
    .results-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .results-header {
        line-height: 1;
        font-size: 20px;
    }
    .results-divider{
        margin-top: 35px;
    }
    .results-wrapper__item{
        width: 175px;
        margin-bottom: 40px;
    }
    .results-wrapper__aggregate{
        width: 85px;
        height: 85px;
    }
    .results-wrapper__text{
        font-size: 15px;
        margin-top: 20px;
    }
    .bonuses{
        min-height: 530px;
        padding: 80px 0 40px 0;
    }
    .bonuses-header {
        line-height: 1;
        font-size: 15px;
        margin-top: 40px;
    }
    .bonuses-button{
        width: 220px;
        height: 60px;
        margin: 50px auto;
        font-size: 13px;
    }
    .webinar{
        min-height: 455px;
        padding: 80px 0 65px 0;
    }
    .webinar-computer{
        width: 240px;
    }
    .webinar-header1{
        line-height: 1;
        font-size: 18px;
        margin-top: 40px;
    }
    .webinar-header2{
        line-height: 1;
        font-size: 23px;
        margin-top: 20px;
    }
    .webinar-header3{
        line-height: 1;
        margin-top: 20px;
        font-size: 16px;
    }
    .footer{
        height: 160px;
        padding: 60px 0 60px 0;
    }
    .footer-info{
        font-size: 12px;
    }
}