*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width:1140px ;
    margin: 0 auto;
}
.promo{
    min-height: 800px;
    background: url(../img/background1.jpg) center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.logo__img{
    display:block;
    margin: 0 auto;
}
.logo__text{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
}
.title-little{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.59;
    letter-spacing: normal;
    text-align: center;
    color: #f9bf3b;
    margin-top: 53px;
}
#change{
    margin-top: 30px;
}
.title-big{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 21px;
}

.promo-text{
    padding:0 13px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 35px;
}
.promo-text span {
    font-weight: bold;
    color: #f9bf3b;
}
.promo-btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 3px rgba(0, 0, 0, 0.11);

    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 5px;
    cursor:pointer;

    text-transform: uppercase;
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.promo-btn:hover{
    background-image: linear-gradient(to bottom, #2798b9, #3ab6da);
}
.promo-btn:focus{
    border:rgba(255, 255, 255, 0.678) solid 3px;
    border-radius:5px;
}
.promo-info__text{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.promo-info__img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}
.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding:85px 0 75px 0;
}
.waiting-header{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}
.waiting-divider{
    display:block;
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 30px;
}
.waiting-subheader{
    font-family: Roboto;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}
.waiting-wrapper{
    display:flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting-wrapper__item{
    width: 339px;
    text-align: center;
}
.waiting-wrapper__img{
    width: 100%;
}
.waiting-wrapper__descr{
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.optimization{
    min-height: 550px;
    padding: 102px 0 96px 0;
}
.optimization-header{
    margin-left: 391px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    color: #299cbd;
}
.optimization-text{
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}
.optimization_text span{
    font-weight: bold;
}
.optimization-img{
    position: absolute;
    top:-48px;
    left: -240px;
    z-index: -1;
}
.results{
    min-height: 447px;
    background: url(../img/background4.jpg) center center/cover no-repeat;
    padding:86px 0 79px 0;
}
.results-header{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}
.results-divider{
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 45px;
}
.results-wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.results-wrapper__item{
    width: 204px;
}
.results-wrapper__aggregate{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    margin: 0 auto;
}
.results-wrapper__img{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.results-wrapper__text{
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}
.bonuses{
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 87px 0;
}
.bonuses-gift{
    display:block;
    margin: 0 auto;
}
.bonuses-header{
    margin-top: 42px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}
.bonuses-button{
    display:block;
    margin: 0 auto;
    margin-top: 52px; 
    width: 313px;
    height: 72px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 5px;

    text-transform: uppercase;
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.bonuses-button:hover{
    background-image: linear-gradient(to bottom, #2798b9, #3ab6da);
}
.bonuses-button:focus{
    border:rgba(24, 21, 21, 0.76) solid 3px;
    border-radius:5px;
}